.recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipeContainer{
    background-color: darkolivegreen;
    margin: 30px;
    width: 60%;
    margin-left: 250px;

}

h2{
    text-align: center;
    font-size: 30px;
}

img{
    margin-bottom: 10px;
}